<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro de Evento</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
  <div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Novo Evento</h3>
            <p>Preencha os Dados!!</p>
            <form class="requires-validation" method="POST" novalidate>

              <div class="col-md-12">
                <input class="form-control" type="text" name="nome" placeholder="Nome do Evento" required>
                <div class="invalid-feedback">Preencha o nome do evento!</div>
              </div>

              <div class="col-md-12">
                <input class="form-control" type="date" name="data" required>
                <div class="invalid-feedback">Preencha a data!</div>
              </div>

              <div class="col-md-12 d-flex justify-content-between mt-3">
                <input class="form-control me-2" type="time" name="hora_inicio" required>
                <input class="form-control ms-2" type="time" name="hora_fim" required>
                <div class="invalid-feedback">Preencha os horários!</div>
              </div>

              <div class="col-md-12 mt-3">
                <input class="form-control descricao" type="text" name="descricao" placeholder="Descrição" required>
                <div class="invalid-feedback">Preencha a descrição!</div>
              </div>

              <div class="col-md-12 mt-3">
                <input class="form-control" type="number" name="visitantes" placeholder="Quantidade de Vagas" required>
                <div class="invalid-feedback">Preencha a quantidade de vagas!</div>
              </div>

              <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary">Registrar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
